%table
  %thead
    %tr
      %th= t :institution_name
      %th= t :language
      %th= t :date_registered
      %th= t :desired_start_date
      %th= t :position_in_eriga
      %th= t :calculated_position
      %th= t :predicted_waiting_time
      %th= t :total_application_count
  %tbody
    - applications.sort_by(&:real_queue_position).each do |application|
      %tr
        %td= link_to application.institution_program_language.institution.name, institution_institution_program_language_path(application.institution_program_language.institution, application.institution_program_language)
        %td= link_to t(application.institution_program_language.language_en), institution_institution_program_language_path(application.institution_program_language.institution, application.institution_program_language)
        %td= l(application.registered_date)
        %td= l(application.desirable_start_date)
        %td= application.riga_queue_position
        %td{title: get_application_queue_priority_tooltip(application, session).html_safe}= application.real_queue_position
        %td= convert_to_months_years(application.waiting_time)
        %td= application.institution_program_language.applications.count
