#search-hint
  = image_tag "Scrs1.png", width: 800
  \&gt;
  \#{image_tag "Scrs2.png", width: 800}
  \#{image_tag "Scrs3.png", width: 800}
  %p= t "search_hint.authorization"
  = image_tag "Scrs4.png", width: 800
  = image_tag "Scrs5.png", width: 800
  = image_tag "Scrs6.png", width: 800
  -#
    %p= t "search_hint.save_code"
