<div id="search-hint">
    <%= image_tag "Scrs1.png", width: 800 %>>
    <%= image_tag "Scrs2.png", width: 800 %>
    <%= image_tag "Scrs3.png", width: 800 %>
    <p>Seko izvēlētā autorizācijas pieslēguma norādēm</p>
    <%= image_tag "Scrs4.png", width: 800 %>
    <%= image_tag "Scrs5.png", width: 800 %>
    <%= image_tag "Scrs6.png", width: 800 %>
    <p>Atceries! Izveidojot lietotāja kontu, vari saglabāt šo kodu turpmākai lietošanai.</p>
</div>
