%section#search
  .inner
    = form_tag search_children_path, method: :post do
      .row.uniform{class: "50%"}
        .6u{class: "12u$(xsmall)"}
          = select_month(@month || Date.today)
        %div{class: "6u$ 12u$(xsmall)"}
          = select_year(@year || Date.today, start_year: Date.today.year, end_year: 5.years.from_now.year)
      %hr/
      %h3= t :dont_know_child_name
      .row.uniform{class: "50%"}
        .6u{class: "12u$(xsmall)"}
          %input#name{name: "child_initials", placeholder: t(:child_initials), type: "text", value: "#{@child_initials}"}/
        %div{class: "6u$ 12u$(xsmall)"}
          %input.special{name: "initials", type: "submit", value: t(:search)}/
          %input.special{name: "clear", type: "submit", value: t(:clear)}/
      - if @institutions
        %div{class: "12u$(xsmall)"}
          = select_tag('institution_id', options_from_collection_for_select(@institutions, :id, :name, @institution_id), |
            prompt: t(:select_institution))
      - if @too_many_kids
        %div{class: "12u$(xsmall)"}
          = t :too_many_kids, too_many_kids: @too_many_kids
      - if @children
        %table
          %thead
            %tr
              %th= t :child_uid
              %th= t :institution_language
              %th
          %tbody
            - @children.each do |child|
              %tr
                %td= child.child_uid
                %td
                  = child.applications.map { |a| "#{a.institution_name} / #{a.language}"}.join('<br>').html_safe
                %td= link_to t(:show_more), child_path(child), title: t(:child_show_more_hint)
      %hr/
      %h3= t :know_child_name
      .row.uniform{class: "50%"}
        .6u{class: "12u$(xsmall)"}
          %input#name{name: "child_uid", placeholder: t(:child_uid), type: "text", value: "#{@child_uid}"}/
        %div{class: "6u$ 12u$(xsmall)"}
          %input.special{name: "uid", type: "submit", value: t(:search)}/
      %p.hint
        = link_to t(:how_to_find_child_id), hint_children_path
    - if @child
      = render 'applications', applications: @child.get_applications_calculated(session)
