%section#show
  .inner
    .row.uniform{class: "50%"}
      %div{class: "12u$(xsmall)"}
        %strong= "#{t(:child_uid)}:"
        = @child.child_uid
    .row.uniform{class: "50%"}
      %div{class: "12u$(xsmall)"}
        %strong= "#{t(:minimal_predicted_waiting_time)}:"
        = convert_to_months_years(@child.min_waiting_time)
    %hr/
    = render 'applications', applications: @child.get_applications_calculated(session)
