!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title CareQueue
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    %link{:href => "https://js.cit.api.here.com/v3/3.0/mapsjs-ui.css?dp-version=1533195059", :rel => "stylesheet", :type => "text/css"}
  %body
    %header#header
      .inner
        %a.logo{:href => "/"} CareQueue
        %nav#nav
          = render partial: 'layouts/menu'
    %a.navPanelToggle{:href => "#menu"}
      %span.fa.fa-bars
    %nav#navPanel
      = render partial: 'layouts/menu'
      %a.navPanelClose.close{:href => "#menu"}
    = yield
    - unless controller_name == 'map'
      %section#footer
        .inner
          %header
            %h2 Get in Touch
          %form{:action => "#", :method => "post"}
            .field.half.first
              %label{:for => "name"} Name
              %input#name{:name => "name", :type => "text"}/
            .field.half
              %label{:for => "email"} Email
              %input#email{:name => "email", :type => "text"}/
            .field
              %label{:for => "message"} Message
              %textarea#message{:name => "message", :rows => "6"}
            %ul.actions
              %li
                %input.alt{:type => "submit", :value => "Send Message"}/
          .copyright
            © Untitled Design:
            = succeed "." do
              %a{:href => "https://templated.co/"} TEMPLATED
            %a{:href => "https://unsplash.com/"} Unsplash
    = javascript_include_tag 'application'
