%td= program_language.language_en.capitalize
%td= program_language.starting_age
%td= program_language.queue_size
%td= program_language.avg_invited
%td= link_to 'See queue', institution_institution_program_language_path(institution, program_language)
