%section#show
  .inner
    %table
      %thead
        %tr
          %th= t :title
          %th= t :address
          %th= t :email
          %th= t :region
          %th= t :language
          %th= t :starting_age
          %th
            %abbr{title: t("hint.queue_size")}= t :queue_size
          %th
            %abbr{title: t(:avg_invited)}= t :average_invited
          %th
      %tbody
        - @institutions.each do |institution|
          - rowspan = institution.institution_program_languages.size
          - rowspan = 1 if rowspan == 0
          %tr
            %td{rowspan: rowspan}
              - if institution.url
                %a{href: institution.full_url}= institution.name
              - else
                = institution.name
            %td{rowspan: rowspan}= institution.address
            %td{rowspan: rowspan}
              %a{href: "mailto:#{institution.email}"}= institution.email
            %td{rowspan: rowspan}= institution.region.try(:name)
            - institution.institution_program_languages.each_with_index do |program_language, index|
              - if index > 0
                %tr
                  = render 'institution_language', institution: institution, program_language: program_language
              - else
                = render 'institution_language', institution: institution, program_language: program_language
