<p id="notice"><%= notice %></p>

<h1>Institutions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Email</th>
      <th>Url</th>
      <th>Region</th>
      <th>Language</th>
      <th>Starting age</th>
      <th>Queue size</th>
      <th title="Average invited in previous 3 years">Average invited</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @institutions.each do |institution|
      rowspan = institution.institution_program_languages.size
      rowspan = 1 if rowspan == 0%>
      <tr>
        <td rowspan="<%= rowspan %>"><%= institution.name %></td>
        <td rowspan="<%= rowspan %>"><%= institution.address %></td>
        <td rowspan="<%= rowspan %>"><%= institution.email %></td>
        <td rowspan="<%= rowspan %>"><%= institution.url %></td>
        <td rowspan="<%= rowspan %>"><%= institution.region.try(:name) %></td>
        <% institution.institution_program_languages.each_with_index do |program_language, index| %>
          <% if index > 0 %>
            <tr>
          <% end %>
          <td><%= program_language.language_en.capitalize %></td>
          <td><%= program_language.starting_age %></td>
          <td><%= program_language.queue_size %></td>
          <td><%= program_language.avg_invited %></td>
          <td><%= link_to 'See queue', institution_institution_program_language_path(institution, program_language) %></td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
