<section id="show">
  <div class="inner">
    <table>
      <thead>
        <tr>
          <th>Title</th>
          <th>Address</th>
          <th>Email</th>
          <th>Region</th>
          <th>Language</th>
          <th>Starting age</th>
          <th><abbr title="Number of children in waiting list of institution">Queue size</abbr></th>
          <th><abbr title="Average invited in previous 3 years">Average invited</abbr></th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @institutions.each do |institution|
          rowspan = institution.institution_program_languages.size
          rowspan = 1 if rowspan == 0%>
          <tr>
            <td rowspan="<%= rowspan %>">
              <% if institution.url %>
                <a href="<%= institution.url %>"><%= institution.name %></a>
              <% else %>
                <%= institution.name %>
              <% end %>
            </td>
            <td rowspan="<%= rowspan %>"><%= institution.address %></td>
            <td rowspan="<%= rowspan %>"><a href="mailto:<%= institution.email %>"><%= institution.email %></a></td>
            <td rowspan="<%= rowspan %>"><%= institution.region.try(:name) %></td>
            <% institution.institution_program_languages.each_with_index do |program_language, index| %>
              <% if index > 0 %>
                <tr>
              <% end %>
              <td><%= program_language.language_en.capitalize %></td>
              <td><%= program_language.starting_age %></td>
              <td><%= program_language.queue_size %></td>
              <td><%= program_language.avg_invited %></td>
              <td><%= link_to 'See queue', institution_institution_program_language_path(institution, program_language) %></td>
            </tr>
            <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</section>
