<table>
  <thead>
    <tr>
      <th>Child UID</th>
      <th>Date registered</th>
      <th>Desired start date</th>
      <th>Position in eRiga list</th>
      <th>Calculated position</th>
      <th>Predicted waiting time / <br>Minimal predicted waiting time</th>
      <th>Total application count</th>
    </tr>
  </thead>
  <tbody>
    <% applications.sort_by(&:real_queue_position).each do |application| %>
      <tr>
        <td><%= link_to application.child.child_uid, child_path(application.child) %></td>
        <td><%= l(application.registered_date) %></td>
        <td><%= l(application.desirable_start_date) %></td>
        <td><%= application.riga_queue_position %></td>
        <td title="<%= get_application_queue_priority_tooltip(application).html_safe %>"><%= application.real_queue_position %></td>
        <td><%= convert_to_months_years(application.waiting_time) %> / <%= convert_to_months_years(application.child.min_waiting_time) %></td>
        <td><%= application.child.applications.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
