<table>
  <thead>
    <tr>
      <th><abbr title="Child identifier in eRiga sytem. First two symbols are initials of a child.">Child UID</abbr></th>
      <th><abbr title="Date of registration in eRiga system.">Date registered</abbr></th>
      <th><abbr title="Date indicated as desired start date.">Desired start date</abbr></th>
      <th><abbr title="Position number in eRiga system.">Position in eRiga list</abbr></th>
      <th><abbr title="Position is calculated using criteria described in eRiga website. 

36. Elektroniskajā datubāzē tiek izveidots pretendentu saraksts pieteikumu reģistrēšanas kārtībā, ievērojot šādu secību:

36.1. bērni, kuriem piešķirts statuss obligātās izglītības vecums;

36.2. bērni, kuriem piešķirts statuss Komisijas lēmums;

36.3. bērni, kuriem piešķirts statuss brālis/māsa;

36.4. Rīgas pilsētas administratīvajā teritorijā deklarētie bērni, kuru vecāku vai bērna likumiskā pārstāvja deklarētā dzīvesvieta ir Rīgas pilsētas administratīvajā teritorijā;

36.5. Rīgas pilsētas administratīvajā teritorijā deklarētie bērni, kuru vecāku vai bērna likumiskā pārstāvja deklarētā dzīvesvieta nav Rīgas pilsētas administratīvajā teritorijā;

36.6. bērni, kuru deklarētā dzīvesvieta nav Rīgas pilsētas administratīvajā teritorijā.">Calculated position</abbr></th>
      <th><abbr title="Predicted waiting time calculated using available past data from previous 3 years. Calculated position in list is divided by average number of annual invitations.">Predicted waiting time / <br>Minimal predicted waiting time</abbr></th>
      <th><abbr title="Total number of institutions where this child is on waiting list.">Total application count</abbr></th>
    </tr>
  </thead>
  <tbody>
    <% applications.sort_by(&:real_queue_position).each do |application| %>
      <tr>
        <td><%= link_to application.child.child_uid, child_path(application.child) %></td>
        <td><%= l(application.registered_date) %></td>
        <td><%= l(application.desirable_start_date) %></td>
        <td><%= application.riga_queue_position %></td>
        <td title="<%= get_application_queue_priority_tooltip(application).html_safe %>"><%= application.real_queue_position %></td>
        <td><%= convert_to_months_years(application.waiting_time) %> / <%= convert_to_months_years(application.child.min_waiting_time) %></td>
        <td><%= application.child.applications.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
