%section#show
  .inner
    .row.uniform{class: "50%"}
      .6u{class: "12u$(xsmall)"}
        %strong= "#{t(:title)}:"
        = @institution_program_language.institution.name
      %div{class: "6u$ 12u$(xsmall)"}
        %strong= "#{t(:starting_age)}:"
        = @institution_program_language.starting_age
    .row.uniform{class: "50%"}
      .6u{class: "12u$(xsmall)"}
        %strong= "#{t(:address)}:"
        = @institution_program_language.institution.address
      %div{class: "6u$ 12u$(xsmall)"}
        %strong= "#{t(:language)}:"
        = t(@institution_program_language.language_en)
    .row.uniform{class: "50%"}
      .6u{class: "12u$(xsmall)"}
        %strong= "#{t(:email)}:"
        = @institution_program_language.institution.email
      %div{class: "6u$ 12u$(xsmall)"}
        %strong= "#{t(:queue_size)}:"
        = @institution_program_language.queue_size
    .row.uniform{class: "50%"}
      .6u{class: "12u$(xsmall)"}
        - if @institution_program_language.institution.url
          %strong= "#{t(:web_site)}:"
          %a{href: @institution_program_language.institution.full_url}= @institution_program_language.institution.full_url
      %div{class: "6u$ 12u$(xsmall)"}
        %strong= "#{t(:avg_invited)}:"
        = @institution_program_language.avg_invited
    - if @institution_program_language.institution.region
      .row.uniform{class: "50%"}
        %div{class: "6u$ 12u$(xsmall)"}
          %strong= "#{t(:region)}:"
          = @institution_program_language.institution.region.name

    %hr
    = render 'applications', applications: @institution_program_language.get_applications_calculated(session)
