<section id="show">
  <div class="inner">
    <div class="row uniform 50%">
      <div class="6u 12u$(xsmall)">
        <strong>Title:</strong>
        <%= @institution_program_language.institution.name %>
      </div>
      <div class="6u$ 12u$(xsmall)">
        <strong>Starting age:</strong>
        <%= @institution_program_language.starting_age %>
      </div>
    </div>
    <div class="row uniform 50%">
      <div class="6u 12u$(xsmall)">
        <strong>Address:</strong>
        <%= @institution_program_language.institution.address %>
      </div>
      <div class="6u$ 12u$(xsmall)">
        <strong>Language:</strong>
        <%= @institution_program_language.language_en.capitalize %>
      </div>
    </div>
    <div class="row uniform 50%">
      <div class="6u 12u$(xsmall)">
        <strong>Email:</strong>
        <%= @institution_program_language.institution.email %>
      </div>
      <div class="6u$ 12u$(xsmall)">
        <strong>Queue size:</strong>
        <%= @institution_program_language.queue_size %>
      </div>
    </div>
    <div class="row uniform 50%">
      <div class="6u 12u$(xsmall)">
        <% if @institution_program_language.institution.url %>
          <strong>Website:</strong>
          <%= @institution_program_language.institution.url %>
        <% end %>
      </div>
      <div class="6u$ 12u$(xsmall)">
        <strong>Average invited in previous 3 years:</strong>
        <%= @institution_program_language.avg_invited %>
      </div>
    </div>
    <% if @institution_program_language.institution.region %>
      <div class="row uniform 50%">
        <div class="6u$ 12u$(xsmall)">
          <strong>Region:</strong>
          <%= @institution_program_language.institution.region.name %>
        </div>
      </div>
    <% end %>

    <%= render 'applications', applications: @institution_program_language.get_applications_calculated(session) %>
  </div>
</section>
